/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


:root {
	--light_color: #dddd9c;
	--dark_color: #1f2708'
}

#flash-green {
	width: 100%
	display: inline-block;
	margin: auto auto 0.25em auto;
	color: black;
	background-color: #00FF55;
	position: relative;
	border-radius: 0.5em;
	padding: 0.5em;
}


#flash-red {
	width: 100%
	display: inline-block;
	margin: auto auto 0.25em auto;
	color: yellow;
	background-color: #FF0022;
	position: relative;
	border-radius: 0.5em;
	padding: 0.5em;
}

#header-container {
	color: var(--light_color);
	background-color: var(--dark_color);
	padding: 0.2em;
	border-radius: 0.3em;
}

#blurb {
	color: var(--light_color);
	background-color: var(--dark_color);
	position: relative;
	float: left;
	font-size: 0.75em;
}

body {
	color: white;
	background-color: black;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 100%;
}

p {
	margin: 0 auto;
	padding: 0.3em 0;
}

h1 {
	color: var(-light_color);
	margin: 0 auto;
	padding: 0.25em 0.5em;
	font-size: 2em;
	font-weight: bold;
	text-align: left;
}

h2 {
	margin: 0 auto;
	padding: 0.2em;
}

h3 {
	margin: auto;
	color: var(--light_color);
}

h4 {
	margin: auto;
	font-size: 0.65em;
	color: var(--light_color);
}

table {
	border-collapse: collapse;
}

tr, th, td {
	border: 1px solid var(--light_color);
	padding: 0.5em;
}

.thumb {
	background-color: white;
	margin: 0.1em;
	width: auto;
	height: 70Px;
	border: 0.1em var(--light_color) solid;
}

.article-thumb {
	display: inline-block;
	float: left;
	background-color: white;
	margin: 0 0.5em 0.1em 0;
	width: auto;
	height: 70Px;
	border: 0.1em var(--light_color) solid;
}

.article-center {
	text-align: left;
	position: relative;
	margin: auto auto 0.25em auto;
	border-radius: 0.5em;
	padding: 1em;
	width: 95%;
	background-color: var(--dark_color);
}

.article-left {
	text-align: left;
	margin: 0.25em 0.25em;
	border-radius: 0.5em;
	padding: 1em;
	position: relative;
	float: left;
	width: 44%;
	background-color: var(--dark_color);
}

.article-right {
	text-align: left;
	margin: 0.25em 0.25em;
	border-radius: 0.5em;
	padding: 1em;
	position: relative;
	float: right;
	width: 44%;
	background-color: var(--dark_color);
}

img {
	width: 100%;
	display: block;
	margin: 0 auto;
	border: 0;
	border-radius: 0.5em;
/*	border: 0.25em var(--light_color) solid; */
/*	margin-bottom: 0.75em; */
}

header {
	position: inline-block;
	margin: auto auto 0.25em auto;
	padding: 0.25em 1em;
	height: 20%;
	width: 75%;
}

article {
	margin: auto;
	width: 75%;

}

footer {
	text-align: left;
	color: var(--dark_color);
	background-color: var(--light_color);
	border: var(--light_color);
	border-radius: 0.4em;
	margin: auto auto 0.25em auto;
	padding: 0.5em;
	height: 20%;
	width: 73%;
	overflow: auto;
	position: relative;
	float: bottom;
}

ul {
	margin: auto;
	padding: 0 3em;
}

li {
	font-size: 0.75em;
	color: var(--light_color);
}
