<table>
<% if @shorturls != nil && @shorturls.count > 0%>
	<tr>
		<td>Created</td>
		<td>Title</td>
		<td>Short URL</td>
		<td>Clicks</td>
		<td>Long URL</td>
	</tr>
	<% @shorturls.each do |shorturl| %>
		<tr>
		<td><%= shorturl.created_at %></td>
		<td><%= shorturl.title %></td>
		<% url = "#{url_for(root_url)}" + "#{shorturl.short}" %>
		<td><%= link_to url, url %></td>
		<td><%= shorturl.clicks %></td>
		<td><%= shorturl.long %></td>
	</tr>
	<% end %>
<% else %>
	No shortened URLs available.
<% end %>
</table>
