<% if flash[:error] != nil %>
	<div id="flash-red"><p><%= flash[:error] %></p></div><br />
<% end %>
<% if flash[:newurl] != nil %>
	<div id="flash-green"><p><%= link_to flash[:newurl], flash[:newurl] %></p></div><br />
<% end %>
