<%= form_for @shorturl do |f| %>
<p style="text-align: left; padding: 0.5em;">
URL:
<%= 	f.text_field :long, size: '40x1' %>
Title:
<%= 	f.text_field :title %>
<%= 	f.submit 'Shorten' %>
<% end %>
<%= link_to "Show all URLs", controller: "shorturls", action: "show_all" %>
</p>
