<!DOCTYPE html>
<html>
<head>
  <title>Shorturls</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>ShortURLs</h1>
<%= render 'flash' %>
<hr />
<%= yield %>

</body>
</html>
